<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    RestFul Tasks API
  </h1>
  <button (click)="thismessage()">show movie</button>
  </div>
<h2>All the tasks</h2>
<ul *ngFor="let m of messages ;let i =index">
  <li>
    <button (click)="discription(i)">show me</button><h2>{{m.title}}</h2>
  </li>
</ul>
<h2>The third Task</h2>
<ul>
  <li>
    <h2>{{ dis }}</h2>
    <h2><input type="text" [value]="thismsg"></h2>
  </li>
</ul>

<router-outlet></router-outlet>
